thead {
    background-color: rgba(199, 100, 100, 0.3);
}

th {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: rgb(243, 231, 231);
}

td {
    padding: 5px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: rgb(221, 213, 213);
    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
}

input {
    width: 4rem;
}

.btn {
    padding: 0.5rem 1.5rem;
    display: inline-block;
    border-radius: 7rem;
    position: relative;
}

.search-container {
    padding: 1rem 0;
}